<div>
  <h1>Posts</h1>
  <ul class="list-group">
    <app-post-list-item *ngFor="let post of posts" [title]="post.title" [content]="post.content" [loveIts]="post.loveIts" [createdAt]="post.createdAt"></app-post-list-item>
  </ul>
</div>
